<footer>
    <p class="follow">
        Check the code source on 

        <a href="https://github.com/tahamario/artsMovies" target="_blank"> Github </a>
    </p>

    <p class="design">Designed and developed by <a href="https://www.linkedin.com/in/taha-m/" target="_blank">Taha Mario</a> © 2023</p>
</footer>