<header class="myheader">
    <a href="/"><h1>Arts Movies</h1></a>

    <nav>
        <ul class="parent">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li><a href="/add-new-article">
                    Add new article </a></li>

            <li><a href="/add-new-film">
                    Add new film </a></li>

            <li id="dark" class="mode">change mode</li>
        </ul>
    </nav>
</header>